body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

#chat {
  display: none;
  padding: 10px;
}

#messages {
  height: 300px;
  overflow: auto;
  background: #111;
  padding: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
}

.msg {
  background: #222;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
}
